<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Component - landing</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/common/component-layout.css" />
    <link rel="stylesheet" href="/src/components/landing/landing.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="components-wrapper">
      <h1>Component - landing</h1>
      <ul class="components-list">
        <li class="components-item">
          <h2 class="components-title">Icon</h2>
          <div class="components-box">
            <!-- 컴포넌트 시작 -->
            <!-- 로그인 페이지로 이동하는 링크 -->
            <a class="icon-taing-renewal" href="/"><img src="/icon/icon-taing-renewal.svg" alt="로그인 페이지로 이동" /></a>
            <!-- 컴포넌트 종료 -->
          </div>
        </li>
        <li class="components-item">
          <h2 class="components-title">Text</h2>
          <div class="components-box">
            <!-- 컴포넌트 시작 -->
            <div class="landing-text-box">
              <h2 class="text-headline"><span>타잉 오리지널 콘텐츠,</span><span>방송, 영화, 해외시리즈까지!</span><span>재미를 플레이해보세요.</span></h2>
              <p class="text-description">해당 부분에 맞는 설명을 작성해주세요.</p>
              <p class="text-sub-description">해당 부분에 맞는 서브 설명을 작성해주세요.</p>
            </div>
            <!-- 컴포넌트 종료 -->
          </div>
        </li>
        <li class="components-item">
          <h2 class="components-title">Resources</h2>
          <div class="components-box">
            <!-- 컴포넌트 시작 -->
            <ul class="landing-resources-list">
              <!-- 가로, 세로 original-content 컨테이너 -->
              <li class="original-content horizontal" style="background-image: url('/images/image-thumbnail-05.avif')"><span class="sr-only">콘텐츠 1</span></li>
              <li class="original-content vertical" style="background-image: url('/images/image-thumbnail-01.avif')"><span class="sr-only">콘텐츠 2</span></li>

              <!-- discover-content 컨테이너 -->
              <li class="discover-content" style="background-image: url('/images/image-thumbnail-09.avif')"><span class="sr-only">콘텐츠 3</span></li>
            </ul>
            <!-- 컴포넌트 종료 -->
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
