<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Component - login</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/components/account/login.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="components-wrapper">
      <h1 class="components-title">Login 컴포넌트 목록</h1>
      <hr class="components-divider">
      <ul class="components-list">
        <li class="components-item">
          <h2 class="components-title">id-input-field 컴포넌트</h2>
          <div class="components-box">
            <div class="input-group"> 
              <input class="input-field" type="text" placeholder="아이디" maxlength="30">
              <img src="../../../public/icon/close-button.svg" alt="입력 내용 지우기 버튼" class="clear-input-icon">
              <p class="input-hint">아이디는 최대 30자까지 입력가능</p>
            </div>
          </div>
        </li>

        <li class="components-item">
          <h2 class="components-title">pw-input-field 컴포넌트</h2>
          <div class="components-box">
            <div class="input-group">
              <input class="input-field" type="password" placeholder="패스워드" maxlength="20"> 
              <img src="../../../public/icon/pw-toggle-button.svg" alt="패스워드 보기/숨기기 버튼" class="toggle-password-icon">
              <img src="../../../public/icon/close-button.svg" alt="입력 내용 지우기 버튼" class="clear-input-icon">
              <p class="input-hint">영문, 숫자, 특수문자를 포함 8자 이상 20자이내</p> 
            </div>
          </div>
        </li>

        <li class="components-item">
          <h2 class="components-title">login-button 컴포넌트</h2>
          <div class="components-box">
            <button class="button-style login-button" type="submit">로그인하기</button>
          </div>
        </li>

        <li class="components-item">
          <h2 class="components-title">confirm-button 컴포넌트</h2>
          <div class="components-box">
            <button class="button-style confirm-button" type="submit">확인</button>
          </div>
        </li>

        <li class="components-item">
          <h2 class="components-title">certification-button 컴포넌트</h2>
          <div class="components-box">
            <button class="button-style certification-button" type="submit">본인인증하기</button>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
