<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Component - modal</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/components/modal/modal.css" />
    <link rel="stylesheet" href="/src/common/component-layout.css" />
    <script type="module" src="/src/assets/js/review-modal.js"></script>
    <script type="module" src="/src/main.js"></script>
    <style>
      .logout-modal,
      .main-page-modal {
        position: static !important;
        inline-size: fit-content !important;
        block-size: fit-content !important;
        inset-inline-start: 0 !important;
        inset-block-start: 0 !important;
        background-color: transparent !important;

        .logout-modal-wrap,
        .main-page-modal-wrap {
          position: static !important;
          translate: 0 !important;
        }
      }
    </style>
  </head>
  <body>
    <div class="components-wrapper">
      <h1 class="components-title">Components - Modal</h1>
      <ul class="components-list">
        <li class="components-item">
          <h2 class="components-title">logout-modal 컴포넌트</h2>
          <div class="components-box">
            <dialog class="logout-modal" open>
              <div class="logout-modal-wrap">
                <div class="top-box">
                  <p class="logout-text">로그아웃 하시겠습니까?</p>
                </div>
                <div class="bottom-box">
                  <button type="button" class="button-st confirm-button">확인</button>
                  <p class="divider" aria-hidden="true">|</p>
                  <button type="button" class="button-st">취소</button>
                </div>
              </div>
            </dialog>
          </div>
        </li>

        <li class="components-item">
          <h2 class="components-title">main-page-modal 컴포넌트</h2>
          <div class="components-box">
            <dialog class="main-page-modal" open>
              <div class="main-page-modal-wrap">
                <div class="modal-image" style="background-image: url('/images/modal-image.avif')" aria-hidden="true"></div>
                <div class="close-box">
                  <button type="button" class="btn today-close-button">오늘 하루 보지 않기</button>
                  <p aria-hidden="true">|</p>
                  <button type="button" class="btn close-button">닫기</button>
                </div>
              </div>
            </dialog>
          </div>
        </li>
      </ul>
    </div>

    <!-- 플로팅 버튼 -->
    <button type="button" class="floating-button">
      <img src="/src/assets/icon/chat.svg" alt="해당 작업 영역의 시행착오 보기" />
    </button>

    <!-- 제작 과정 모달 -->
    <dialog class="making-story-modal">
      <div class="making-story-content" role="document">
        <div class="making-story-header">
          <h2 id="making-story-title">❗️ 해당 작업 영역의 시행착오</h2>
          <button type="button" class="making-story-close" aria-label="모달 닫기" onclick="this.closest('dialog').close()">
            <img src="/icon/close-grey.svg" alt="" />
          </button>
        </div>
        <div class="making-story-body">
          <ul>
            <li>
              <strong>❓ 문제점</strong>
              <p>모달창의 마크업을 그냥 &lt;div&gt; 로 구현하여 접근성 측면에서 취약하다는 피드백</p>
            </li>
            <li>
              <b>💡 해결방식</b>
              <p>&lt;div&gt; 를 &lt;dialog&gt; 태그로 변경하여 좀 더 모달(팝업)창 이란 이름에 어울리는 시멘틱한 구조로 변경하여 다른 페이지에서도 좀 더 쉽게 활용 될 수 있도록 변경.</p>
            </li>
          </ul>
        </div>
      </div>
    </dialog>
  </body>
</html>
