<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Component - footer</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/common/component-layout.css" />
    <link rel="stylesheet" href="/src/components/footer/footer.css" />
    <script type="module" src="/src/assets/js/review-modal.js"></script>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="components-wrapper">
      <h1>Component - Footer</h1>
      <ul class="components-list">
        <li class="components-item">
          <h2 class="components-title">Footer</h2>
          <div class="components-box">
            <!-- 컴포넌트 시작 -->
            <footer class="site-footer">
              <div class="footer-inner">
                <!-- 고객센터 ~ 인재채용 -->
                <div class="footer-top">
                  <nav aria-label="푸터 링크">
                    <ul class="footer-links">
                      <li><a href="#">고객센터</a></li>
                      <li><a href="#">이용약관</a></li>
                      <li><a href="#">개인정보처리방침</a></li>
                      <li><a href="#">청소년 보호정책</a></li>
                      <li><a href="#">법적고지</a></li>
                      <li><a href="#">이벤트</a></li>
                      <li><a href="#">인재채용</a></li>
                    </ul>
                  </nav>
                </div>

                <!-- 연락처 정보 -->
                <div class="footer-info">
                  <address>
                    <p>
                      <span>대표이사 : YANG JIEUL</span><span><a href="#">사업자정보확인</a></span
                      ><span>사업자등록번호 : 188-88-01893</span><span>통신판매신고번호 : 2020-서울마포-3641호</span>
                    </p>

                    <p><span>사업장 : 서울특별시 마포구 상암산로 34, DMC디지털큐브 15층(상암동)</span><span>호스팅사업자 : 씨제이올리브네트웍스(주)</span></p>

                    <p>
                      <a href="#"><span>고객문의 바로가기</span><span>대표메일 : tving@cj.net</span><span>고객센터 : 1670-1525 (평일/주말 09시~18시, 공휴일 휴무)</span></a>
                    </p>

                    <p><span>ENM 시청자 상담실 (편성 문의 및 시청자 의견) : 080-080-0780</span><span>Mnet 고객센터(반송편성문의) : 1855-1631</span></p>
                  </address>
                </div>

                <!-- 소셜 미디어 -->
                <div class="footer-social">
                  <ul class="social-icons" aria-label="SNS 링크">
                    <li>
                      <a href="#" target="_blank" rel="noopenner noreferrer"><img src="/icon/youtube.svg" alt="유튜브" /></a>
                    </li>
                    <li>
                      <a href="#" target="_blank" rel="noopenner noreferrer"><img src="/icon/instagram.svg" alt="인스타그램" /></a>
                    </li>
                    <li>
                      <a href="#" target="_blank" rel="noopenner noreferrer"><img src="/icon/twitter.svg" alt="트위터" /></a>
                    </li>
                    <li>
                      <a href="#" target="_blank" rel="noopenner noreferrer"><img src="/icon/facebook.svg" alt="페이스북" /></a>
                    </li>
                  </ul>
                </div>

                <!-- 저작권 -->
                <div class="footer-bottom">
                  <small>Copyright &copy; 주식회사 티빙 All right reserved.</small>
                </div>
              </div>
            </footer>
          </div>
        </li>
      </ul>
    </div>

    <!-- 플로팅 버튼 -->
    <button type="button" class="floating-button">
      <img src="/src/assets/icon/chat.svg" alt="해당 작업 영역의 시행착오 보기" />
    </button>

    <!-- 제작 과정 모달 -->
    <dialog class="making-story-modal">
      <div class="making-story-content" role="document">
        <div class="making-story-header">
          <h2 id="making-story-title">❗️ 해당 작업 영역의 시행착오</h2>
          <button type="button" class="making-story-close" aria-label="모달 닫기" onclick="this.closest('dialog').close()">
            <img src="/icon/close-grey.svg" alt="" />
          </button>
        </div>
        <div class="making-story-body">
          <ul>
            <li>
              <strong>❓ 문제점</strong>
              <p>푸터의 각 단어의 그룹을 | 표시로 구분이 되어 있었는데, 키보드에서 접근할 수 있는 | ← 이 키를 삽입해 보니, 시안보다 사이즈가 미묘하게 크게 느껴졌다. | 이 문자를 삽입하는 것말고 다른 방식으로 짝대기를 만들 수 없을까 고민하였다.</p>
            </li>
            <li>
              <b>💡 해결방식</b>
              <p>나는 각 단어 그룹을 &lt;span&gt; 요소로 묶었는데, ::after 가상 요소 선택자를 이용하여 마지막 자식만 제외하고 모든 자식의 앞 부분에 짝대기를 넣어주는 방식을 선택했다. 그로써 | 문자를 사용하지 않으면서도 시안과 비슷한 사이즈의 짝대기를 삽입할 수 있었다.</p>
            </li>
          </ul>
        </div>
      </div>
    </dialog>
  </body>
</html>
