/* 돋보기(검색) 버튼 */
.search-submit-btn {
  @media (width <= 1024px) {
    inline-size: 28px;
  }

  @media (width <= 768px) {
    inline-size: 22px;
  }
}

/* 최근 검색어 전부 리셋 버튼 */
.search-all-reset-btn {
  @media (width <= 1024px) {
    > img {
      inline-size: 24px;
    }
  }
}

/* 바로 옆 최근 검색어 제거하는 버튼 */
.search-recent-reset-btn {
  @media (width <= 1024px) {
    inline-size: 12px;
  }
}

/* 검색 영역 */
.search-input {
  --search-input-height: 89px;
  --search-input-font-size: var(--label-xxl);

  inline-size: 100%;
  block-size: var(--search-input-height);
  display: flex;
  align-items: center;
  border-block-end: 2px solid var(--white);

  input {
    background-color: transparent;
    border: 0;
    flex-grow: 1;
    inline-size: 100%;
    font-size: var(--search-input-font-size);
    color: var(--white);
  }

  .search-submit-btn {
    flex-shrink: 0;
  }

  @media (width <= 1024px) {
    --search-input-height: 56px;
    --search-input-font-size: var(--label-large);
  }

  @media (width <= 768px) {
    --search-input-height: 41px;
    --search-input-font-size: var(--label-medium);
  }
}

/* 인기 검색어 아이템 */
.search-popular-btn {
  --search-popular-gap: var(--spacing-36);

  display: flex;
  gap: var(--search-popular-gap);

  strong {
    color: var(--brand-red-1);
  }

  span {
    color: var(--gray-300);
  }

  @media (width <= 1024px) {
    --search-popular-gap: var(--spacing-12);
  }
}

/* 최근 검색어 아이템 */
.search-recent-item {
  --search-recent-gap: var(--spacing-20);

  display: flex;
  align-items: center;
  gap: var(--search-recent-gap);

  .search-recent-btn {
    color: var(--gray-300);
  }

  @media (width <= 1024px) {
    --search-recent-gap: var(--spacing-16);
  }
}

/* 최근 검색어 전부 삭제 버튼 */
.search-all-reset-btn {
  --search-all-reset-gap: var(--spacing-8);

  display: flex;
  align-items: center;
  color: var(--gray-300);
  opacity: 0.6;
  transition: opacity 0.2s;
  gap: var(--search-all-reset-gap);

  &:hover {
    opacity: 1;
  }

  @media (width <= 1024px) {
    --search-all-reset-gap: var(--spacing-5);
  }
}

/* 검색어 관련 버튼 (최근 검색어 모두 삭제 / 최근 검색어 아이템 / 인기 검색어 아이템) 폰트사이트 제어 */
.search-popular-btn,
.search-recent-btn,
.search-all-reset-btn {
  --search-btn-all-font-size: var(--label-large);

  font-size: var(--search-btn-all-font-size);
  font-weight: var(--font-weight-600);

  @media (width <= 1024px) {
    --search-btn-all-font-size: var(--label-small);
  }
}
